
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Phynd | Menu</title>

</head>
<body>
    <div id="login-div">

        Hello

        <form asp-controller="Home" asp-action="logout" method="post">

            <button> Logout</button>
        </form>
    </div>
</body>

</html>